/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
	color:#3a4c4c;
	background:#daeded;
	background:url("/images/body_bg.png") repeat 0 0;
	background:url("/images/bg2.png") repeat 0 0;
	font-family:arial;
}
ol, ul {
	list-style: none;
}
li {
  line-height:1.5em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {text-decoration: none;}

/* ======================================================
  Base Styles */ 

h1, h2, h3, h4, h5 {margin-bottom:10px; font-family:verdana;}
h1 { font-size:26px;}
h2 { font-size:22px;}
h3 { font-size:20px;}
h4 { font-size:18px;}
h5 { font-size:16px;}

p {margin-bottom:10px;
  font-family:arial;
  line-height:1.5em;
  }
em {font-weight:bold;}

/* ======================================================
  UI colors and styles */

.round {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.home_bg{
  background:#FFE6B5;
  -webkit-box-shadow: inset 0 0 4px #C6B38D;  
  -moz-box-shadow: inset 0 0 4px #C6B38D;  
  box-shadow: inset 0 0 4px #C6B38D;  
}
div.home div.player {
  -webkit-box-shadow: inset 0 0 4px #DFC160;
  -moz-box-shadow: inset 0 0 4px #DFC160;
  box-shadow: inset 0 0 4px #DFC160;
}
div.home div.head{
  background:#DFC160;
  color:#fff;
  -webkit-box-shadow: inset 0 0 2px #C6B38D;
  -moz-box-shadow: inset 0 0 2px #C6B38D;
  box-shadow: inset 0 0 2px #C6B38D;
  text-shadow: 0px 1px 0px #C6B38D;
}

.away_bg{
  background:#FFC9B7;
  -webkit-box-shadow: inset 0 0 4px #AF8A7B;  
  -moz-box-shadow: inset 0 0 4px #AF8A7B;  
  box-shadow: inset 0 0 4px #AF8A7B;  
}
div.away div.player {
  -webkit-box-shadow: inset 0 0 4px #AF8A7B;
  -moz-box-shadow: inset 0 0 4px #AF8A7B;
  box-shadow: inset 0 0 4px #AF8A7B;
}
div.away div.head{
  background:#FF9776;
  color:#fff;
  -webkit-box-shadow: inset 0 0 2px #AF8A7B;
  -moz-box-shadow: inset 0 0 2px #AF8A7B;
  box-shadow: inset 0 0 2px #AF8A7B;
  text-shadow: 0px 1px 0px #AF8A7B;
}

/* ======================================================
  Wrapper */
  
#wrapper {
  width:1024px;
  height: 690px;
  position:relative;
  margin: auto;
  overflow:hidden;
}

/* ======================================================
  ACTIONS (left panel) */

#actions_wrapper {
  position:absolute;
  bottom:0;
  left:0;
  width:300px;
  overflow:hidden;
}
#actions_wrapper div.actions {
  float:left;
  width:149px;
  overflow:hidden;
}
#actions_wrapper div.actions div {
  float:left;
  height:60px;
  width:110px;
  padding:10px;
  margin:8px;
  
  overflow:hidden;
  line-height:60px;
  text-align:center;
  font-weight:bold;
  font-size:17px;
  color:#FFF;
}
#actions_wrapper div.actions div:hover {
  cursor:pointer;
}
#actions_wrapper div.actions div.active {
  background:#FFAA3E !important;
}
#actions_wrapper div.actions.offense div {
  background-color:#AACD79;
  text-shadow: 0px 1px 0px #52633A;
  -webkit-box-shadow:inset -1px -1px 3px #6F874E;
  -moz-box-shadow:inset -1px -1px 3px #6F874E;
  box-shadow:inset -1px -1px 3px #6F874E;
}  
#actions_wrapper div.actions.defense div {
  background-color:#9AC1D6;
  text-shadow: 0px 1px 0px #4B5E69;
  -webkit-box-shadow:inset -1px -1px 3px #627B88;
  -moz-box-shadow:inset -1px -1px 3px #627B88;
  box-shadow:inset -1px -1px 3px #627B88;
}


/* ======================================================
  RIGHT PANEL */

#right_panel {
  position:absolute;
  bottom:0;
  right:0;
  width:700px;
}

#toolbar {
  height:110px;
}

/* ======================================================
  Logger */
  
#log {
  position:absolute;
  top:0;
  left:0;
  width:350px;
  height:90px;
  font-size:14px;
  z-index:10;
  overflow:hidden;
  background:#FFF;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#log.expand {
  height:665px;
  -webkit-box-shadow:0px 0px 10px #C6B38D;
  -moz-box-shadow:0px 0px 10px #C6B38D;
  box-shadow:0px 0px 10px #C6B38D;
}
#log li{
  padding:4px 12px;
  color:#5D8053;
}
#log li.highlight {
  position:absolute;
  top:0;
  left:0;
  width:326px;
  z-index:-1;
  background:yellow;
  display:none;
}
#log li.undone span {
  text-decoration:line-through;
  color:#8C2022;
}
#log li a {
  float:right;
  font-size:10px;
  padding:0px 7px;
  background:#DFE2E2;
  color:#A4A6A6;
  
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  
  -webkit-box-shadow: inset -1px -1px 1px #C4C6C6;
  -moz-box-shadow: inset -1px -1px 1px #C4C6C6;
  box-shadow: inset -1px -1px 1px #C4C6C6;
}
#log li.undone a {
  background:#BBD4B1;
  color:#759E5B;
  
  -webkit-box-shadow: inset -1px -1px 1px #82AF65;
  -moz-box-shadow: inset -1px -1px 1px #82AF65;
  box-shadow: inset -1px -1px 1px #82AF65;
}


/* ======================================================
  Expand/Contract Logger */
  
div.tab {
  position:absolute;
  top:32px;
  left:-30px;
  background:#FFF;
  color:#800F02;
  text-align:center;
  font-size:14px;
  z-index:50;
  
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  
  -webkit-border-top-right-radius:0;
  -webkit-border-bottom-right-radius:0;
  -moz-border-radius-topright:0;
  -moz-border-radius-bottomright:0;
}
div.tab span{
  width:25px;
  padding:5px;
  display:block;
  
  z-index:50;
  cursor:pointer;
}

/* ======================================================
  Player Icons */

div.player {
  float:left;
  margin:10px;
  height:100px;
  width:160px;
  background:#fff;
  text-align:center;
  overflow:hidden;
}
div.player .head{
  padding:5px 10px;
}
div.player .number{
  padding:10px 10px;
  text-align:center;
  font-weight:bold;
  font-size:38px;
  line-height:54px;
}

/* ======================================================
  Player bool assignment */

#players_game div.player .assign:hover{ 
  background:#199919;
  color:#FFF;
  cursor:pointer;
}

/* ======================================================
  Player make/miss */

div.make, div.miss {
  height:95px;
  width:80px;
  float:left;
  color:#fff;
  text-align:center;
}
div.make {
  background:#199919;
}
div.miss {
  background:#AE3B46;
}
div.make:hover {
  font-weight:bold;
  cursor:pointer;
}
div.miss:hover {
  font-weight:bold;
  cursor:pointer;
}


/* ======================================================
  players in game */


#players_game div.team{
  position:relative; 
  clear:both;
  height:240px;
  padding:10px;
  overflow:visible;
}
#players_game div.team.home_bg {
  margin-bottom:30px;
}
#players_game div.team.away_bg {
  margin-bottom:10px;
}

#players_game div.team div.name{
 position:absolute;
 bottom:0px;
 right:0px;
 width:270px;
 padding:10px;
 
 background:#FFF;
 color:#333;

 -webkit-border-bottom-right-radius:10px;
 -webkit-border-top-left-radius:10px;
 -webkit-border-bottom-left-radius:0;
 -webkit-border-top-right-radius:0;
 
 -moz-border-radius-bottomright:10px;
 -moz-border-radius-topleft:10px;
 -moz-border-radius-bottomleft:0;
 -moz-border-radius-topright:0;
 
 -webkit-box-shadow: inset 1px 1px 4px #C6B38D;  
 -moz-box-shadow: inset 1px 1px 4px #C6B38D;  
 box-shadow: inset 1px 1px 4px #C6B38D;  
}
#players_game div.team div.name a{
 float:right; 
}
#players_game div.team div.score{
  position:absolute;
  top:0px;
  right:0px;
  width:60px;
  padding:8px;

  text-align:center;
  line-height:34px;
  font-size:24px;
  
  background:#555;
  color:#FFF;
  
  -webkit-border-bottom-right-radius:0;
  -webkit-border-top-left-radius:0;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  
  -moz-border-radius-bottomright:0;
  -moz-border-radius-topleft:0;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-topright:10px;
  
  -webkit-box-shadow: inset -1px -1px 1px #000;  
  -moz-box-shadow: inset -1px -1px 1px #000;  
  box-shadow: inset -1px -1px 1px #000;  
}


/* ======================================================
  PLAYERS BENCH */

#players_bench {
  clear:both;
  position:absolute;
  height:600px;
  width:200px;
  bottom:40px;
  left:-200px;
    
  overflow:visible;
  z-index:50 !important;
  
  -webkit-box-shadow: 0 0 10px #C6B38D;
  -moz-box-shadow: 0 0 10px #C6B38D;
  box-shadow: 0 0 10px #C6B38D;
}

#players_bench div.player {
  margin:10px 7px;
  height:80px;
  width:85px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#players_bench div.player { 
  cursor:move;
}
#players_bench div.player .head{
  font-size:14px;
}
#players_bench div.player .number {
  font-size:30px;
  line-height:36px;
}


/* ======================================================
  Close Bench */

a.close {
  position:absolute;
  top:-26px;
  left:15px;
  padding:5px;
  display:block;
  width:165px;
  background:#800F02;
  color:#fff;
  text-align:center;
  z-index:5;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  
  -webkit-border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
  -moz-border-radius-bottomright:0;
  -moz-border-radius-bottomleft:0;
  
  -webkit-box-shadow:4px 0px 8px #C6B38D;
  -moz-box-shadow:4px 0px 8px #C6B38D;
  box-shadow:4px 0px 8px #C6B38D;
}
