/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
	color:#3a4c4c;
	background:#daeded;
	font-family:arial;
}
ol, ul {
	list-style: none;
}
li {
  line-height:1.5em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	text-decoration: none;
}

/* base */ 
h1, h2, h3, h4, h5 {margin-bottom:10px; font-family:verdana;}
h1 { font-size:26px;}
h2 { font-size:22px;}
h3 { font-size:20px;}
h4 { font-size:18px;}
h5 { font-size:16px;}

p {margin-bottom:10px;
  font-family:arial;
  line-height:1.5em;
  }
em {font-weight:bold;}
  
/* wrapper */
#wrapper {
  margin:0;
  padding:0;
  margin: 50px auto;
  width:1000px;
}
#top {
  position:absolute;
  top:0;
  width:80%;
  margin:auto;
  border:1px solid red;
}


#toggle {
  margin-bottom:10px;
  padding:7px 0;
  text-align:center;
  position:relative;
}
#toggle li {
 display:inline; 
}
#toggle li a{
  padding:10px;
  line-height:26px;
  font-size:18px;
  color:#fff;
  border:1px solid #94B6BD;

  background:#A5CAD2;
  background: -moz-linear-gradient(top, #d2e6ef 0%, #a5cad2 51%, #8cc5d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2e6ef), color-stop(51%,#a5cad2), color-stop(100%,#8cc5d1));
  background: -webkit-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  background: -o-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  background: -ms-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D2E6EF', endColorstr='#8CC5D1',GradientType=0 );
  background: linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
}
#toggle li a.active{
 background:#28AAB7; 
 background: -moz-linear-gradient(top, #6ec4cc 0%, #28aab7 58%, #00a5b5 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ec4cc), color-stop(58%,#28aab7), color-stop(100%,#00a5b5));
 background: -webkit-linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
 background: -o-linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
 background: -ms-linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6EC4CC', endColorstr='#00A5B5',GradientType=0 );
 background: linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);

 border:1px solid #428B92;
}


#actions_wrapper {
  clear:both;
  overflow:hidden;
  margin-bottom:10px;
}
#actions_wrapper div.action {
  float:left;
  padding:10px;
  margin:10px;
  height:100px;
  width:100px;
  background:#fff;
  text-align:center;
  overflow:hidden;
  -webkit-border-radius:10px;
  -webkit-box-shadow:2px 1px 8px #777;
}
#actions_wrapper div.action:hover {
  background:#FFAA3E;
  cursor:pointer;
}
#actions_wrapper div.action.active {
  background:#199919;
  color:#fff;
  
  background: #008a00;
  background: -moz-linear-gradient(top, #008a00 0%, #52b152 38%, #008a00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008a00), color-stop(38%,#52b152), color-stop(100%,#008a00));
  background: -webkit-linear-gradient(top, #008a00 0%,#52b152 38%,#008a00 100%);
  background: -o-linear-gradient(top, #008a00 0%,#52b152 38%,#008a00 100%);
  background: -ms-linear-gradient(top, #008a00 0%,#52b152 38%,#008a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008A00', endColorstr='#008a00',GradientType=0 );
  background: linear-gradient(top, #008a00 0%,#52b152 38%,#008a00 100%);
}




/* PLAYERS */
/*
  ================== */

#players_game {
  clear:both;
  border:2px solid #B1C1C1;
  overflow:hidden;
  padding:20px 15px;
  background:#C5D7D7;
  ackground:#2FC8D7;
  min-height:140px;
  -webkit-border-radius:10px;
  -webkit-opacity:0.6;
}
#players_game.active {
  border-color:#199919;
  -webkit-opacity:1;
}
#players_bench {
  -webkit-opacity:0.9;
}
div.action {
  float:left;
  margin:10px;
  height:120px;
  width:170px;
  background:#fff;
  text-align:center;
  overflow:hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow:2px 1px 8px #777;
  -moz-box-shadow:2px 1px 8px #777;
  box-shadow:2px 1px 8px #777;
}
#players_bench div.action {
  margin:10px 7px;
  height:80px;
  width:85px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
div.action .head{
  padding:5px 10px;
  background:#333;
  color:#fff;
}

#players_bench div.action .head{
  font-size:14px;
}
div.action:hover {
  background:#e0f7e1;
  cursor:pointer;
}

/* number */
div.action .number{
  padding:10px 10px;
  text-align:center;
  font-weight:bold;
  font-size:38px;
  line-height:74px;
}

#players_bench div.action .number {
  font-size:30px;
  line-height:36px;
}

/* bool assignment */
div.action .assign{ 
  background:#199919;
  color:#fff;
  height:95px;
  text-align:center;
}


/* make/miss */

div.make, div.miss {
  height:95px;
  width:85px;
  float:left;
  color:#fff;
  text-align:center;
}
div.make {
  background:#199919;
}
div.miss {
  background:#FF515A;
}
div.make:hover {
  font-weight:bold;
  cursor:pointer;
}

div.miss:hover {
  font-weight:bold;
  cursor:pointer;
}



 /* blah */

#teams{
  overflow:hidden;
  position:relative;
  top:10px;
  z-index:5;
}

#teams .home, #teams .away{
  float:left;
}
#teams .home {
  width:50%;
}
#teams .away {
  width:48%;
}

#teams .score{ 
  padding:10px;
  width:88px;
  font-weight:bold;
  font-size:30px;
  text-align:center;
  border:2px solid #7B979C;
  background:#94B6BD;
  color:#fff;
  
  background:#A5CAD2;
  background: -moz-linear-gradient(top, #d2e6ef 0%, #a5cad2 51%, #8cc5d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2e6ef), color-stop(51%,#a5cad2), color-stop(100%,#8cc5d1));
  background: -webkit-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  background: -o-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  background: -ms-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D2E6EF', endColorstr='#8CC5D1',GradientType=0 );
  background: linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
}

#teams .home .score{ 
  float:right;
}
#teams .away .score{ 
  float:left;
}

#teams .team_name {
  padding:10px;
  width:200px;
  line-height:26px;
  font-size:18px;
  position:relative;
  background:#94B6BD;
  border:2px solid #daeded;
  color:#fff;
  text-align:center;
  
  background:#A5CAD2;
  background: -moz-linear-gradient(top, #d2e6ef 0%, #a5cad2 51%, #8cc5d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2e6ef), color-stop(51%,#a5cad2), color-stop(100%,#8cc5d1));
  background: -webkit-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  background: -o-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  background: -ms-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D2E6EF', endColorstr='#8CC5D1',GradientType=0 );
  background: linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);

}
#teams .home .team_name {
  float:right;
  border-right:0;
}
#teams .away .team_name {
  float:left;
  border-left:0;
}

#teams .team_name:hover, #teams .team_name.active {
  cursor:pointer;
  border-color:green;
  
  background:#28AAB7; 
  background: -moz-linear-gradient(top, #6ec4cc 0%, #28aab7 58%, #00a5b5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ec4cc), color-stop(58%,#28aab7), color-stop(100%,#00a5b5));
  background: -webkit-linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
  background: -o-linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
  background: -ms-linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6EC4CC', endColorstr='#00A5B5',GradientType=0 );
  background: linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
}