/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
	color:#3a4c4c;
	background:#daeded;
	background:url("/images/body_bg.png") repeat 0 0;
	background:url("/images/bg2.png") repeat 0 0;
	font-family:arial;
}
ol, ul {
	list-style: none;
}
li {
  line-height:1.5em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	text-decoration: none;
}

/* base */ 
h1, h2, h3, h4, h5 {margin-bottom:10px; font-family:verdana;}
h1 { font-size:26px;}
h2 { font-size:22px;}
h3 { font-size:20px;}
h4 { font-size:18px;}
h5 { font-size:16px;}

p {margin-bottom:10px;
  font-family:arial;
  line-height:1.5em;
  }
em {font-weight:bold;}
  
/* wrapper */
#wrapper {
  margin:0;
  padding:0;
  margin: auto;
  width:1024px;
  height: 768px;
}

/* ACTIONS (left panel) */

#actions_wrapper {
  float:left;
  overflow:hidden;
  margin-bottom:10px;
  width:300px;
}
#actions_wrapper .offense, #actions_wrapper .defense {
  clear:both;
  overflow:hidden;
}
#actions_wrapper div.action {
  float:left;
  height:60px;
  width:110px;
  padding:10px;
  margin:8px;
  
  overflow:hidden;
  line-height:60px;
  text-align:center;
  font-weight:bold;
  font-size:17px;
  color:#FFF;

  -webkit-border-radius:10px;
}
#actions_wrapper div.offense div.action {
  background-color:#AACD79;
  text-shadow: 0px 1px 0px #52633A;
  -webkit-box-shadow:inset -1px -1px 3px #6F874E;
}  
#actions_wrapper div.defense div.action {
  background-color:#9AC1D6;
  text-shadow: 0px 1px 0px #4B5E69;
  -webkit-box-shadow:inset -1px -1px 3px #627B88;
}
#actions_wrapper div.action:hover {
  cursor:pointer;
}
#actions_wrapper div.action.active {
  background:#FFAA3E !important;
}

/* RIGHT PANEL */

#right_panel {
  float:right;
  width:700px;
  position:relative;
  top:10px;
}
#toolbar {
  height:80px;
}


/* PLAYERS */
/* ================== */

#players_game {

}

#players_game div.blah{
  position:relative; 
  clear:both;
  height:240px;
  padding:10px;
  margin-bottom:30px;
  overflow:visible;
  
  -webkit-border-radius:10px;
}
#players_game div.home_wrapper {
  background:#FFE6B5;
  -webkit-box-shadow: inset 0 0 4px #C6B38D;  
}

#players_game div.away_wrapper {
  background:#FFC9B7;
  -webkit-box-shadow: inset 0 0 4px #AF8A7B;  
}

#players_game div.home_wrapper div.action .head{
  background:#DFC160;
  color:#fff;
}
#players_game div.away_wrapper div.action .head{
  background:#FF9776;
  color:#fff;
}

#players_game div.name{
 position:absolute;
 bottom:0px;
 right:0px;
 width:270px;
 padding:10px;
 
 background:#FFF;
 color:#333;

 -webkit-border-bottom-right-radius:10px;
 -webkit-border-top-left-radius:10px;
 -webkit-border-bottom-left-radius:0;
 -webkit-border-top-right-radius:0;
 
 -webkit-box-shadow: inset 1px 1px 4px #C6B38D;  
}
#players_game div.name a{
 float:right; 
}
#players_game div.score{
  position:absolute;
  top:0px;
  right:0px;
  width:60px;
  padding:8px;

  text-align:center;
  line-height:34px;
  font-size:24px;
  
  background:#555;
  color:#FFF;
  -webkit-border-bottom-right-radius:0;
  -webkit-border-top-left-radius:0;
  -webkit-border-bottom-left-radius:10px;
  -webkit-border-top-right-radius:10px;
  
  -webkit-box-shadow: inset -1px -1px 1px #000;  
}


/* PLAYERS BENCH */

#players_bench {
  clear:both;
  position:absolute;
  height:600px;
  width:200px;
  top:30px;
  left:-230px;
    
  overflow:hidden;
  background:#FFE6B5;
  z-index:50 !important;
  
  -webkit-border-radius:10px;
  -webkit-box-shadow: inset 0 0 4px #C6B38D;  
  -webkit-box-shadow:4px 4px 8px #C6B38D;
}

#players_bench .home, #players_bench .away {
  clear:both;
}


/* player icons */

div.action {
  float:left;
  margin:10px;
  height:100px;
  width:160px;
  background:#fff;
  text-align:center;
  overflow:hidden;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px #555;  
}
#players_bench div.action {
  margin:10px 7px;
  height:80px;
  width:85px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

div.action .head{
  padding:5px 10px;
  color:#fff;
}

#players_bench div.action .head{
  font-size:14px;
}
div.action:hover {
  background:#e0f7e1;
  cursor:pointer;
}

/* number */
div.action .number{
  padding:10px 10px;
  text-align:center;
  font-weight:bold;
  font-size:38px;
  line-height:58px;
}

#players_bench div.action .number {
  font-size:30px;
  line-height:36px;
}

/* bool assignment */
div.action .assign{ 
  background:#199919;
  color:#fff;
  height:95px;
  text-align:center;
}


/* make/miss */

div.make, div.miss {
  height:95px;
  width:85px;
  float:left;
  color:#fff;
  text-align:center;
}
div.make {
  background:#199919;
}
div.miss {
  background:#AE3B46;
}
div.make:hover {
  font-weight:bold;
  cursor:pointer;
}

div.miss:hover {
  font-weight:bold;
  cursor:pointer;
}




/* not using */


/* TEAMS */

#teams{
  overflow:hidden;
  position:relative;
  top:10px;
  z-index:5;
  display:none;
}

#teams .home, #teams .away{
  float:left;
}
#teams .home {
  width:50%;
}
#teams .away {
  width:48%;
}

#teams .score{ 
  padding:10px;
  width:88px;
  font-weight:bold;
  font-size:24px;
  text-align:center;
  border:2px solid #7B979C;
  background:#94B6BD;
  color:#fff;
  
  background:#A5CAD2;
  background: -moz-linear-gradient(top, #d2e6ef 0%, #a5cad2 51%, #8cc5d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2e6ef), color-stop(51%,#a5cad2), color-stop(100%,#8cc5d1));
  background: -webkit-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  background: -o-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  background: -ms-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D2E6EF', endColorstr='#8CC5D1',GradientType=0 );
  background: linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
}

#teams .home .score{ 
  float:right;
}
#teams .away .score{ 
  float:left;
}

#teams .team_name {
  padding:10px;
  width:200px;
  line-height:20px;
  font-size:18px;
  position:relative;
  background:#94B6BD;
  border:2px solid #daeded;
  color:#fff;
  text-align:center;
  
  background:#A5CAD2;
  background: -moz-linear-gradient(top, #d2e6ef 0%, #a5cad2 51%, #8cc5d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2e6ef), color-stop(51%,#a5cad2), color-stop(100%,#8cc5d1));
  background: -webkit-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  background: -o-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  background: -ms-linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D2E6EF', endColorstr='#8CC5D1',GradientType=0 );
  background: linear-gradient(top, #d2e6ef 0%,#a5cad2 51%,#8cc5d1 100%);

}
#teams .home .team_name {
  float:right;
  border-right:0;
}
#teams .away .team_name {
  float:left;
  border-left:0;
}

#teams .team_name:hover, #teams .team_name.active {
  cursor:pointer;
  border-color:green;
  
  background:#28AAB7; 
  background: -moz-linear-gradient(top, #6ec4cc 0%, #28aab7 58%, #00a5b5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6ec4cc), color-stop(58%,#28aab7), color-stop(100%,#00a5b5));
  background: -webkit-linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
  background: -o-linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
  background: -ms-linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6EC4CC', endColorstr='#00A5B5',GradientType=0 );
  background: linear-gradient(top, #6ec4cc 0%,#28aab7 58%,#00a5b5 100%);
}


