<div id="wrapper">

  <div id="title"> </div>
  
  <ul id="dash_navigation">
    <li class="active round">Teams</li>
    <li class="round">Games</li>
    <li class="round">Account</li>
  </ul>

  <div id="work_wrapper" class="round">
    <div id="team_roster">
      
      <div id="new_player">
        <div class="row"><div class="number"><input type="text" value="00" maxlength="2" /></div><div class="name"><input type="text" value="name" /></div><div class="add">&#10010;</div></div>
      </div>
      
      <div class="players"> </div>
      
    </div>
  </div>
  
  <div id="tabs_wrapper" class="round">
  
    <div id="teams_pane" class="tabs">
      <div class="left">
        <div id="new_team" class="defensive_style">
          <label>Name</label> <input type="text" name="team_name"/>
          <button>Create New Team</button>
        </div>
        <div id="teams_list"> </div>
      </div>
      
      <div class="right">
        <div id="new_game">
          <div class="drop">
            <div class="home home_bg round"></div>
            <div class="vs">VS</div>
            <div class="away away_bg round"></div>
          </div>
          <div class="start">
            <div>
              Drag a team into home and away boxes above to start a game.
            </div>
          <button>Start New Game</button>
          </div>
        </div>
      </div>
    
    </div>
  
    <div id="games_pane" class="tabs">
      <table>
    <% 2.times do %>  
      <tr>
        <td class="home"><span>55</span>Pandabots</td><td class="vs">vs</td><td class="away">Gametime <span>45</span></td>
        <td class="date">SUN May 24, 2011</td>
      </tr>
      <tr>
        <td class="home"><span>74</span>Gametime</td><td class="vs">vs</td><td class="away">SuperNova<span>57</span></td>
        <td class="date">MON JUN 24, 2011</td>
      </tr>
      <tr>
        <td class="home"><span>54</span>SuperNova</td><td class="vs">vs</td><td class="away">Pandabots<span>35</span></td>
        <td class="date">SUN May 24, 2011</td>
      </tr>
      <tr>
        <td class="home"><span>78</span>BTR</td><td class="vs">vs</td><td class="away">Pandabots<span>45</span></td>
        <td class="date">SAT APR 24, 2011</td>
      </tr>
      <tr>
        <td class="home"><span>12</span>Pistoleros</td><td class="vs">vs</td><td class="away">SuperNova<span>56</span></td>
        <td class="date">SUN FEB 24, 2011</td>
      </tr>
      <tr>
        <td class="home"><span>34</span>Pistoleros</td><td class="vs">vs</td><td class="away">Team Supreme<span>58</span></td>
        <td class="date">TUE JAN 24, 2011</td>
      </tr>
    <% end %>
      </table>
    </div>
  
    <div class="tabs">
      Account
    </div>
    
  </div>
  
</div>

<script type="text/javascript">
  $(function(){
  /* tab UI */
    simpleTabs.init($("#dash_navigation"), $("#tabs_wrapper"));
    $("#title").click(function(){
      $(this).addClass("active")
      simpleTabs.clear();
    })
    
    team.init();
  })
</script>

<script id="rosterTemplate" type="text/x-jquery-tmpl">
  <div class="row"><div class="number"><input type="text" value="${number}" maxlength="2" /></div><div class="name"><input type="text" value="${name}" /></div><div class="delete">&#10006;</div></div>
</script>

<script id="teamTemplate" type="text/x-jquery-tmpl">
  <div class="team round offensive_style">${name}</div>
</script>