<div id="wrapper">
  <div id="toolbar">
    <div id="home_score" class="score round home_bg">0</div>
    <div id="away_score" class="score round away_bg">0</div>
    
    <a href="#" id="licks">&#9783;</a>
    <a href="#" id="settings">&#8251;</a>
    <div class="tab red">
      <span rel="expand">&#x25BC;</span>
      <span rel="contract" style="display:none">&#x25B2;</span>
    </div>
    <div id="hopper" style="display:none">
      <span class="player"></span>
      <span class="action"></span>
    </div>
    <ul id="log">
      <li style="text-align:center">&#x263C; [Actions Log]</li>
    </ul>
    <div id="analytics" style="display:none">
      <a href="#" class="close_lick">close</a>
      <p></p>
    </div>
  </div>
  <div id="spacer"></div>
  
  <div id="actions_wrapper">

    <div class="top">
      <a id="foul"><span>Foul</span></a>

      <a id="block"><span>Block</span></a>
      <a id="steal"><span>Steal</span></a>
      
      <a id="turnover"><span>Turnover</span></a>
      <a id="assist"><span>Assist</span></a>
      <a id="orebound"><span>Off Reb</span></a>
      <a id="drebound"><span>Def Reb</span></a>
    </div>

    <div class="shots">
      <p>
        <span class="title">FreeThrow</span>
        <a id="freethrow.miss" class="miss"><span></span></a>
        <a id="freethrow.make" class="make"><span></span></a>
      </p>
      <p>
        <span class="title">2pt Layup</span>
        <a id="layup.miss" class="miss"><span></span></a>
        <a id="layup.make" class="make"><span></span></a>
      </p>
      <p>
        <span class="title">2pt Shot</span>
        <a id="two.miss" class="miss"><span></span></a>
        <a id="two.make" class="make"><span></span></a>
      </p>
      <p>
        <span class="title">3pt Shot</span>
        <a id="three.miss" class="miss"><span></span></a>
        <a id="three.make" class="make"><span></span></a>
      </p>
    </div>

  </div>  

  <div id="players_game">
    <div class="team home"></div>
    <div class="team away"></div>
  </div>  
  
  <a id="home_name" class="home_bg bench" href="#">&#160;</a>
  <a id="away_name" class="away_bg bench" href="#">&#160;</a>

  <div id="players_bench" class="round" style="display:none">
    <a href="#" class="close red">close</a>
    <div class="home">&#160;</div>
    <div class="away">&#160;</div>
  </div>
  
</div>


<script id="playerTemplate" type="text/x-jquery-tmpl">
  <a id="${number}" class="player">
    <div class="head">${name}</div>
    <span class="number">${number}</span>
  </a>
</script>