<div id="wrapper">
  
  <div id="toolbar">
    <div id="home_score" class="score round home_bg">0</div>
    <div id="away_score" class="score round away_bg">0</div>
    <div class="tab red">
      <span rel="expand">&#x25BC;</span>
      <span rel="contract" style="display:none">&#x25B2;</span>
    </div>
    <ul id="log">
      <li style="text-align:center">&#x263C; [Actions Log - Recent First =D]</li>
    </ul>
  </div>
  
  <div id="actions_wrapper">

    <div class="actions defense">
      <a id="steal" class="round">Steal</a>
      <a id="block" class="round">Block</a>
      <a id="drebound" class="round">Rebound</a>
      <a id="foul" class="round">Foul</a>
      <a id="charge" class="round">Charge</a>
    </div>

    <div class="actions offense">
      <a id="three" class="round" rel="shot">3pt Shot</a>
      <a id="two" class="round" rel="shot">2pt Shot</a>
      <a id="layup" class="round" rel="shot">2pt Layup</a>
      <a id="freethrow" class="round" rel="shot">FreeThrow</a>
      <a id="orebound" class="round" rel="bool">Rebound</a>
      <a id="assist" class="round" rel="bool">Assist</a>
      <a id="turnover" class="round" rel="bool">Turnover</a>
    </div>

  </div>  

  <div id="players_game">

    <div class="team home_bg round">
      <div class="make_miss">
        <a class="miss red" rel="miss.home">MISS? =(</a>
        <a class="make green" rel="make.home">MAKE? =)</a>
      </div>
      <div id="home_name" class="home_bg name"><span>&#160;</span> <a href="#" class="bench home">bench</a></div>
      <div class="home"></div>
    </div>
      
    <div class="team away_bg round">
      <div class="make_miss">
        <a class="miss red" rel="miss.away">MISS? =(</a>
        <a class="make green" rel="make.away">MAKE? =(</a>
      </div>
      <div id="away_name" class="away_bg name"><span>&#160;</span> <a href="#" class="bench away">bench</a></div>
      <div class="away"></div>
    </div>

  </div>

  <div id="players_bench" class="round" style="display:none">
    <a href="#" class="close red">close</a>
    <div class="home">&#160;</div>
    <div class="away">&#160;</div>
  </div>
  
</div>


<script id="playerTemplate" type="text/x-jquery-tmpl">
  <div id="${number}" class="player round">
    <div class="head">${name}</div>
    <a class="number assign js_record" rel="assign">${number}</a>
  </div>
</script>