<div id="wrapper">
  
  <div id="toolbar">
    <div id="home_score" class="score round home_bg">0</div>
    <div id="away_score" class="score round away_bg">0</div>
    <div class="tab red">
      <span rel="expand">&#x25BC;</span>
      <span rel="contract" style="display:none">&#x25B2;</span>
    </div>
    <ul id="log">
      <li style="text-align:center">&#x263C; [Actions Log - Recent First =D]</li>
    </ul>
  </div>
  
  <div id="actions_wrapper">

    <div class="defense">
      <a id="charge">Charge</a>
      <a id="drebound">D Rebound</a>
      <a id="foul">Foul</a>
      <a id="block">Block</a>
      <a id="steal">Steal</a>
    </div>

    <div class="offense">
      <a id="assist">Assist</a>
      <a id="turnover">Turnover</a>
      <a id="orebound">O Rebound</a>
      <a id="two">2pt Shot</a>
      <a id="layup">2pt Layup</a>
      <a id="three">3pt Shot</a>
      <a id="freethrow">FreeThrow</a>
    </div>

  </div>  

  <div id="players_game">

    <div class="team home_bg round">
      <div class="make_miss">
        <a class="miss red" rel="home.miss">MISS? =(</a>
        <a class="make green" rel="home.make">MAKE? =)</a>
      </div>
      <div id="home_name" class="home_bg name"><span>&#160;</span> <a href="#" class="bench home">bench</a></div>
      <div class="home"></div>
    </div>
      
    <div class="team away_bg round">
      <div class="make_miss">
        <a class="miss red" rel="away.miss">MISS? =(</a>
        <a class="make green" rel="away.make">MAKE? =(</a>
      </div>
      <div id="away_name" class="away_bg name"><span>&#160;</span> <a href="#" class="bench away">bench</a></div>
      <div class="away"></div>
    </div>

  </div>

  <div id="players_bench" class="round" style="display:none">
    <a href="#" class="close red">close</a>
    <div class="home">&#160;</div>
    <div class="away">&#160;</div>
  </div>
  
</div>


<script id="playerTemplate" type="text/x-jquery-tmpl">
  <a id="${number}" class="player round">
    <div class="head">${name}</div>
    <span class="number">${number}</span>
  </a>
</script>