<div id="wrapper">
  
  <div id="actions_wrapper">
    <div class="actions offense">
      <div id="three" class="round" rel="shot">3pt Shot</div>
      <div id="two" class="round" rel="shot">2pt Shot</div>
      <div id="layup" class="round" rel="shot">2pt Layup</div>
      <div id="freethrow" class="round" rel="shot">FreeThrow</div>
      <div id="orebound" class="round" rel="bool">Rebound</div>
      <div id="assist" class="round" rel="bool">Assist</div>
      <div id="turnover" class="round" rel="bool">Turnover</div>
    </div>
    
    <div class="actions defense">
      <div id="steal" class="round" style="visibility:hidden">Steal</div>
      <div id="steal" class="round" style="visibility:hidden">Steal</div>
      <div id="steal" class="round">Steal</div>
      <div id="block" class="round">Block</div>
      <div id="drebound" class="round">Rebound</div>
      <div id="foul" class="round">Foul</div>
      <div id="charge" class="round">Charge</div>
    </div>
  </div>  

  <div id="right_panel">
    <!--&#x25B2;  &#x25BC; -->
    <div id="toolbar">
      <a href="#" class="tab">&#x25BC;<br/>&#x25BC;<br/>&#x25BC;</a>
      <ul id="log">
        
        <li class="undone"><span>pandabots #45 three miss</span> <a href="#">REDO</a></li>
        <li ><span>pandabots #12 two make</span> <a href="#">UNDO</a></li>
        <li ><span>lakers #55 layup make</span> <a href="#">UNDO</a></li>
        <li ><span>pandabots #10 orebound assign</span> <a href="#">UNDO</a></li>
        <li ><span>lakers #2 three make</span> <a href="#">UNDO</a></li>
        <li ><span>lakers #2 turnover assign</span> <a href="#">UNDO</a></li>
      </ul>
    </div>


    <div id="players_game">

      <div class="team home_bg round">
        <div id="home_name" class="name"><span>&#160;</span> <a href="#" class="bench home">bench</a></div>
        <div id="home_score" class="score">0</div>
        <div class="home"></div>
      </div>
        
      <div class="team away_bg round">
        <div id="away_name" class="name"><span>&#160;</span> <a href="#" class="bench away">bench</a></div>
        <div id="away_score" class="score">0</div>
        <div class="away"></div>
      </div>

    </div>
  
  
    <div id="players_bench" class="round" style="display:none">
      <a href="#" class="close">close</a>
      <div class="home">&#160;</div>
      <div class="away">&#160;</div>
    </div>
    
    
  </div>



</div>


<script id="playerTemplate" type="text/x-jquery-tmpl">
  <div id="${number}" class="player round">
    <div class="head">${name}</div>
    <div class="number assign js_record" rel="assign">${number}</div>
    <div class="miss js_record" rel="miss">&#160;</div>
    <div class="make js_record" rel="make">&#160;</div>
  </div>
</script>