<div id="wrapper">
  
  <div id="top">
    <div id="score">
      <div class="us">0</div>
      <div class="them">0</div>
    </div>
  </div>
  
  <ul id="toggle">
    <li><a href="#" class="active" rel="offense">Offense</a></li>
    <li><a href="#" rel="defense">Defense</a></li>
  </ul>  
  
  <div id="actions_wrapper">
    <div class="offense">
      <div id="three" class="action" rel="shot">3pt Shot</div>
      <div id="two" class="action" rel="shot">2pt Shot</div>
      <div id="layup" class="action" rel="shot">2pt Layup</div>
      <div id="freethrow" class="action" rel="shot">FreeThrow</div>
      <div id="orebound" class="action" rel="bool">Rebound</div>
      <div id="assist" class="action" rel="bool">Assist</div>
      <div id="turnover" class="action" rel="bool">Turnover</div>
    </div>
    
    <div class="defense">
      <div id="steal" class="action">Steal</div>
      <div id="block" class="action">Block</div>
      <div id="drebound" class="action">Rebound</div>
      <div id="foul" class="action">Foul</div>
      <div id="charge" class="action">Charge</div>
    </div>
  </div>



  <div id="players_wrapper">
    <div id="p12" class="action">
      <div class="head">Jade</div>
      <div class="number">12</div>
      <div class="assign js_record" rel="assign">=)</div>
      <div class="miss js_record" rel="miss">Miss</div>
      <div class="make js_record" rel="make">Make</div>
    </div>
  </div>
  
  <div id="toolbox">
    <ul id="teams">
    <% @teams.each do |t| %>
      <li><%= link_to t.name, team_players_path(t) %></li>
    <% end %>
    </ul>
  </div>
</div>


<script id="playerTemplate" type="text/x-jquery-tmpl">
  <div id="p${number}" class="action">
    <div class="head">${name}</div>
    <div class="number">${number}</div>
    <div class="assign js_record" rel="assign">=)</div>
    <div class="miss js_record" rel="miss">Miss</div>
    <div class="make js_record" rel="make">Make</div>
  </div>
</script>