

<style type="text/css">
#logo{
  position:absolute;
  bottom:40px; left:480px;
}
#home_wrapper {
  position:relative;
  width:950px;
  overflow:hidden;
  margin:auto;
}
#main {
  position:relative;
  margin:auto;
  width:950px;
  margin-top:40px;
}
#main h1{
  font-size:40px;
  font-weight:bold;
  line-height:1.5em;
  color:#FFF;
  text-shadow: 0px 1px 0px #000;
}
#button {
  display:block;
  margin:auto;
  width:300px;
  padding:15px 20px;
  background:#79BA32;
  color:#FFF;
  text-align:center;
  -webkit-border-radius:10px;
  font-size:24px;
  font-weight:bold;
  text-shadow:1px 1px 0 #395A17;
  -webkit-box-shadow:2px 2px 4px #000;
  margin-bottom:70px;
  cursor:pointer;
}

#support {
  margin:auto;
  width:950px;
  overflow:hidden;
}
#support div {
  width:290px;
  color:#fff;
  float:left;
  line-height:1.5em;
  text-shadow: 0px 1px 0px #000;
}
#signup {
  position:absolute;
  top:0;
  right:0;
  display:block;
  padding:12px 25px;
  background:#FFFFCC;
  color:#555;
  font-weight:bold;
  text-align:center;
  -webkit-border-radius:10px;
  -webkit-border-top-left-radius:0;
  -webkit-border-top-right-radius:0;
}
  
</style>


<div id="logo">
  <img src="/images/logo.sm.png" />  
</div>

<div id="home_wrapper">
  <a href="#" id="signup">Pricing and Signup</a>
  
  <div id="main">
    <h1>
      Record Basketball Stats.
      <br/>In Real-time.
      <br/>Fast.
    </h1>
  </div>

  <a href="/game" id="button">Try Instant Demo</a>


  <div id="support">
    <div style="margin-right:33px;">
      <h2>Easy as Pie</h2>
      StatJoy takes about 3 minutes to start.
      Create your team, enter your players and start recording
      stats as the game plays. Seriously, try the demo!
    </div>
  
    <div style="margin-right:33px;">
      <h2>Fast as Lighting</h2>
      StatJoy is made to record stats at game-speed simultaneously for both teams.
      StatJoy is also made to be instantly responsive.
    </div>
  
  
    <div>
      <h2>Internet NOT Required</h2>
      StatJoy does not require any internet connection.
      Create teams, players, and record games completely offline with zero lag.
      Seriously, try the demo.
    
    </div>
  
  </div>

</div>
