
<div id="home_page" class="page" data-role="page" data-theme="a">
  <div data-role="content">

    <h1 id="main">StatJoy</h1>
    <p class="intro">
      Record your team's basketball stats in real-time using your mobile device.
      <br/>Share your game breakdown with your buddies instantly on the web.
    </p>

    <a href="/app" id="demo" class="big_button" rel="external">Try Instant Demo</a>
  
    <a href="#signup_page" id="signup" class="big_button" data-transition="slidedown">Pricing and Signup</a>

    <div id="support">
      <div style="margin-right:33px;">
        <h2>Easy as Pie</h2>
        StatJoy takes about 3 minutes to start.
        Create your team, enter your players and start recording
        stats as the game plays. Seriously, try the demo!
      </div>
  
      <div style="margin-right:33px;">
        <h2>Fast as Lighting</h2>
        StatJoy is made to record stats at game-speed simultaneously for both teams.
        StatJoy is also made to be instantly responsive.
      </div>
  
  
      <div>
        <h2>Internet NOT Required</h2>
        StatJoy does not require any internet connection.
        Create teams, players, and record games completely offline with zero lag.
        Seriously, try the demo.
    
      </div>
  
    </div>

  </div>
</div>

<div id="signup_page" class="page" data-role="page" data-theme="a">
  <div data-role="content">	
    <h1>Signup Page</h2>
  </div>
</div>