<div id="wrapper">
  
  <div id="actions_wrapper">
    <div class="offense">
      <div id="three" class="action" rel="shot">3pt Shot</div>
      <div id="two" class="action" rel="shot">2pt Shot</div>
      <div id="layup" class="action" rel="shot">2pt Layup</div>
      <div id="freethrow" class="action" rel="shot">FreeThrow</div>
      <div id="orebound" class="action" rel="bool">Rebound</div>
      <div id="assist" class="action" rel="bool">Assist</div>
      <div id="turnover" class="action" rel="bool">Turnover</div>
    </div>
    
    <div class="defense">
      <div id="steal" class="action">Steal</div>
      <div id="block" class="action">Block</div>
      <div id="drebound" class="action">Rebound</div>
      <div id="foul" class="action">Foul</div>
      <div id="charge" class="action">Charge</div>
    </div>
  </div>  

  <div id="right_panel">
    
    <div id="toolbar">
      
    </div>


    <div id="players_game">

      <div class="blah home_wrapper">
        <div class="name">Pandabots <a href="#" class="bench home">bench</a></div>
        <div id="home_score" class="score">0</div>
        <div class="home"></div>
      </div>
        
      <div class="blah away_wrapper">
        <div class="name">Lakers <a href="#" class="bench away">bench</a></div>
        <div id="away_score" class="score">0</div>
        <div class="away"></div>
      </div>

    </div>
  
  
    <div id="players_bench" style="display:none">
      <a href="#" class="close">close</a>
      <div class="home">&#160;</div>
      <div class="away">&#160;</div>
    </div>
    
    
  </div>



</div>


<script id="playerTemplate" type="text/x-jquery-tmpl">
  <div id="${number}" class="action">
    <div class="head">${name}</div>
    <div class="number">${number}</div>
    <div class="assign js_record" rel="assign">&#160;</div>
    <div class="miss js_record" rel="miss">&#160;</div>
    <div class="make js_record" rel="make">&#160;</div>
  </div>
</script>