<div data-role="page" id="game_wrapper" class="page" data-theme="a">
  <div id="toolbar" data-role="header" data-position="fixed">

    <div id="score_wrap" class="head_group" data-role="controlgroup" data-type="horizontal">
      <a id="home_score" data-role="button" class="_home_bg">00</a>
      <a id="away_score" data-role="button" class="_away_bg">00</a>
    </div>

    <div id="logger" class="head_group" data-role="controlgroup" data-type="horizontal">
      <a id="hop" data-role="button" data-theme="b">[Actions Log]</a>
      <a href="#log_page" data-role="button" data-rel="dialog" data-transition="slidedown">&#x25BC;</a>
    </div>  
    
    <div id="game_buttons" class="head_group" data-role="controlgroup" data-type="horizontal">
      <a href="#analytics" data-rel="dialog" data-transition="slidedown" data-role="button" data-icon="grid"> Stats</a>
      <a href="#teams" data-role="button" data-icon="home"> Home</a>
    </div>
  </div>
  
  <div id="actions_wrapper">

    <div class="top">
      <a id="foul"><span>Foul</span></a>

      <a id="block"><span>Block</span></a>
      <a id="steal"><span>Steal</span></a>
      
      <a id="turnover"><span>Turnover</span></a>
      <a id="assist"><span>Assist</span></a>
      <a id="orebound"><span>Off Reb</span></a>
      <a id="drebound"><span>Def Reb</span></a>
    </div>

    <div class="shots">
      <p>
        <span class="title">FreeThrow</span>
        <a id="freethrow-miss" class="miss"><span></span></a>
        <a id="freethrow-make" class="make"><span></span></a>
      </p>
      <p>
        <span class="title">2pt Layup</span>
        <a id="layup-miss" class="miss"><span></span></a>
        <a id="layup-make" class="make"><span></span></a>
      </p>
      <p>
        <span class="title">2pt Shot</span>
        <a id="two-miss" class="miss"><span></span></a>
        <a id="two-make" class="make"><span></span></a>
      </p>
      <p>
        <span class="title">3pt Shot</span>
        <a id="three-miss" class="miss"><span></span></a>
        <a id="three-
        make" class="make"><span></span></a>
      </p>
    </div>

  </div>  

  <div id="players_game">
    <div class="team home"></div>
    <div class="team away"></div>
  </div>  
  
  <!--
  <a id="home_name" class="home_bg bench" href="#">&#160;</a>
  <a id="away_name" class="away_bg bench" href="#">&#160;</a>
  -->
  <div id="players_bench" class="round" style="display:none">
    <a href="#" class="close red">close</a>
    <div class="home">&#160;</div>
    <div class="away">&#160;</div>
  </div>
  
</div>

<div data-role="page" id="log_page" class="page" data-theme="a">
  <a href="#game_wrapper" data-role="button">Back</a>

  <ul id="log" data-role="listview" data-inset="true">
    <li data-role="list-divider" role="heading" style="text-align:center">&#x263C; Actions Log</li>
  </ul>
</div>

<div data-role="page" id="analytics" class="page" data-theme="a">
  <a href="#game_wrapper" data-role="button" data-rel="back">Back</a>
  <p></p>
</div>