<% # game_page %>
<div id="game_page" class="page" data-role="page" data-theme="a">
  <div id="toolbar" data-role="header" data-position="fixed" style="height:40px">
    <a data-role="button">
      <span id="home_score">00</span> | 
      <span id="away_score">00</span>
    </a>
    <a href="#log_page" data-role="button" data-icon="arrow-d" data-transition="slidedown">Log</a>
    
    <div id="logger" class="head_group" data-role="controlgroup" data-type="horizontal">
      <a id="hop" data-role="button" data-theme="e"><span>..............</span></a>
    </div>  
  </div>
  
  <div id="actions_wrapper">

    <div class="top">
      <a id="foul"><span>Foul</span></a>

      <a id="block"><span>Block</span></a>
      <a id="steal"><span>Steal</span></a>
      
      <a id="turnover"><span>T/O</span></a>
      <a id="assist"><span>Assist</span></a>
      <a id="orebound"><span>Oreb</span></a>
      <a id="drebound"><span>Dreb</span></a>
    </div>

    <div class="shots">
      <p>
        <span class="title">Free</span>
        <a id="freethrow-miss" class="miss"><span></span></a>
        <a id="freethrow-make" class="make"><span></span></a>
      </p>
      <p>
        <span class="title">Layup</span>
        <a id="layup-miss" class="miss"><span></span></a>
        <a id="layup-make" class="make"><span></span></a>
      </p>
      <p>
        <span class="title">2pt Shot</span>
        <a id="two-miss" class="miss"><span></span></a>
        <a id="two-make" class="make"><span></span></a>
      </p>
      <p>
        <span class="title">3pt Shot</span>
        <a id="three-miss" class="miss"><span></span></a>
        <a id="three-make" class="make"><span></span></a>
      </p>
    </div>

  </div>  

  <div id="players_game">
    <div class="team home"></div>
    <div class="team away"></div>
  </div>  
  
  <!--
  <a id="home_name" class="home_bg bench" href="#">&#160;</a>
  <a id="away_name" class="away_bg bench" href="#">&#160;</a>
  -->
  <div id="players_bench" class="round" style="display:none">
    <a href="#" class="close red">close</a>
    <div class="home">&#160;</div>
    <div class="away">&#160;</div>
  </div>

  
  <div data-role="footer" data-position="fixed">
    <a href="#menu" data-role="button" data-icon="home" data-theme="a" data-transition="slidedown"> H</a>
    <a href="#analytics_page" style="float:right" data-transition="slidedown" data-role="button" data-icon="gear" data-theme="a">More</a>
	</div>

</div>


<% # log_page %>
<div data-role="page" id="log_page" class="page" data-theme="a">
  <a href="#game_page" data-role="button" data-transition="slideup">Back</a>
  <h2 style="text-align:center">Actions Log</h2>
  <ul id="log" data-role="listview" data-icon="false" data-inset="true"> </ul>
</div>


<% # analytics_page %>
<div data-role="page" id="analytics_page" class="page" data-theme="a">
  <div data-role="header" style="padding-bottom:10px; text-align:center">
  	<a href="#game_page" data-role="button" data-transition="slideup">Back to Game</a>
  	<button rel="destroy" data-role="button">Delete Game</button>
  	<button rel="complete" data-role="button" data-theme="b">Complete and Save Game</button>
  </div>
  
  <h2 style="text-align:center">Current Game Stats</h2>
  <div class="stat_grid"></div>
</div>