<% # main menu (home) %>
<div id="menu" class="page" data-role="page" data-theme="a">
  <a href="#teams_page" class="blah" data-role="button">Teams</a>
  <a href="#" id="game_button" data-role="button">Start/Resume Game</a>
  <a href="#completed_games" class="blah" data-role="button">Past Games</a>
	<a href="#account" class="blah" data-role="button">Account</a>
</div>

<% # teams_page %>
<div id="teams_page" class="page" data-role="page" data-theme="a">
	<div data-role="header">
		<div id="navbar" data-role="navbar">
  		<ul><a href="#menu" data-rel="dialog" data-transition="slidedown">Menu</a></ul>
    </div>
	</div>

	<div id="add_team_wrapper" data-role="content" style="text-align:center">	
    <input type="text" name="team" style="width:200px" data-theme="d" /> <button type="submit" data-inline="true" data-icon="plus" data-iconpos="right" data-theme="e">Add Team</button>
    <ul id="teams_dropdown" data-role="listview" data-inset="true" data-theme="b"> </ul>
	</div>
</div>

<% # team_roster page %>
<div data-role="page" id="team_roster_page" class="page" data-theme="a">
  <div data-role="header">
		<div id="navbar" data-role="navbar">
  		<ul><a href="#menu" data-rel="dialog" data-transition="slidedown">Menu</a></ul>
    </div>
	</div>

	<div id="team_roster_wrapper" data-role="content">	
	  <h1>Name</h1>
	  <fieldset class="ui-grid-a">
    	<div class="ui-block-a"><button class="sync_team" data-theme="e">Save</button></div>
    	<div class="ui-block-b"><button class="delete_team" data-theme="b" data-icon="delete" data-iconpos="right">Delete Team</button></div>	   
    </fieldset>
    <ul id="team_roster" data-role="listview"> </ul>
	</div>
</div>

<% # new_game_page %>
<div id="new_game_page" class="page" data-role="page" data-theme="a">
  <div data-role="header">
		<div id="navbar" data-role="navbar">
  		<ul><a href="#menu" data-rel="dialog" data-transition="slidedown">Menu</a></ul>
    </div>
	</div>

	<div id="new_game_pane" data-role="content">	
    <div id="existing_game_box" style="text-align:center">
      You have an existing game in progress.
      What would you like to do?
      
      <button class="game_state" rel="continue">Continue Game</button>
      <button class="game_state" rel="complete">Complete Game</button>
      <button class="game_state" rel="destroy">Destroy Game</button>
    </div>
    
    <div id="new_game_box">
      <div class="wrap home_bg" style="text-align:center">
        <select id="new_game_home" name="home" data-theme="b"> </select>  
      </div>
    
      <div class="vs" style="text-align:center">VS</div>
    
      <div class="wrap away_bg" style="text-align:center">
        <select id="new_game_away" name="away" data-theme="e"> </select>
      </div>
    
      <button class="game_state" rel="create">Start New Game</button>
    </div>

  </div>
</div>

<% # completed page %>
<div id="completed_games" class="page" data-role="page" data-theme="a">
  <div data-role="header">
		<div id="navbar" data-role="navbar">
  		<ul>
  		  <a href="#menu" data-rel="dialog" data-transition="slidedown">Menu</a>
  		</ul>
    </div>
	</div>

	<div data-role="content">	
    <ul id="games_pane" data-role="listview" data-inset="true" data-theme="b"> </ul>
	</div>
</div>

<% # account page %>
<div id="account" class="page" data-role="page" data-theme="a">
  <div data-role="header">
		<div id="navbar" data-role="navbar">
  		<ul>
  		  <a href="#menu" data-rel="dialog" data-transition="slidedown">Menu</a>
  		</ul>
    </div>
	</div>

	<div data-role="content">	
    Account stuff
	</div>
</div>


<%= render :template => "dash/game" %>
