
<div id="teams" class="page" data-role="page" data-theme="a">
	<div data-role="header">
		<div data-role="navbar">
  		<ul><a href="#menu" data-rel="dialog" data-transition="slidedown">Menu</a></ul>
    </div>
	</div>

	<div id="add_team_wrapper" data-role="content" style="text-align:center">	
    <input type="text" name="team" style="width:40%"/> <button type="submit" data-inline="true">Add Team</button>
    <ul id="teams_dropdown" data-role="listview" data-inset="true" data-theme="b"> </ul>
	</div>
</div>


<div id="new_game" class="page" data-role="page" data-theme="a">
  <div data-role="header">
		<div data-role="navbar">
  		<ul><a href="#menu" data-rel="dialog" data-transition="slidedown">Menu</a></ul>
    </div>
	</div>

	<div id="new_game_pane" data-role="content">	
    <div id="existing_game" style="text-align:center">
      You have an existing game in progress.
      What would you like to do?
      
      <button rel="continue">Continue Game</button>
      <button rel="complete">Complete Game</button>
      <button rel="destroy">Destroy Game</button>
    </div>
    
    <div id="new_game">
      <div class="wrap home_bg" style="text-align:center">
        <select id="new_game_home" name="home" data-theme="b"> </select>  
      </div>
    
      <div class="vs" style="text-align:center">VS</div>
    
      <div class="wrap away_bg" style="text-align:center">
        <select id="new_game_away" name="away" data-theme="c"> </select>
      </div>
    
      <button rel="create">Start New Game</button>
    </div>

  </div>
</div>

<div data-role="page" id="completed_games" class="page" data-theme="a">
  <div data-role="header">
		<div data-role="navbar">
  		<ul>
  		  <a href="#menu" data-rel="dialog" data-transition="slidedown">Menu</a>
  		</ul>
    </div>
	</div>

	<div data-role="content">	
    <div id="games_pane" class="tabs">
      <table> </table>
    </div>
	</div>
</div>

<div data-role="page" id="account" class="page" data-theme="a">
  <div data-role="header">
		<div data-role="navbar">
  		<ul>
  		  <a href="#menu" data-rel="dialog" data-transition="slidedown">Menu</a>
  		</ul>
    </div>
	</div>

	<div data-role="content">	
    Account stuff
	</div>
</div>

<div data-role="page" id="team_roster_page" class="page" data-theme="a">
  <div data-role="header">
		<div data-role="navbar">
  		<ul>
  		  <a href="#menu" data-rel="dialog" data-transition="slidedown">Menu</a>
  		</ul>
    </div>
	</div>

	<div data-role="content">	
    <div id="team_roster"> </div>
	</div>
</div>

  

<%#= render :template => "dash/game" %>
