<!DOCTYPE html>
<html>
<head>
  <title>Bball</title>
  <%= stylesheet_link_tag "style" %>
  <%= render_javascripts %>
  <%= csrf_meta_tag %>
  <script>
  if (Modernizr.localstorage){
    localStorage.clear();

  } else {
    console.log("boo");
    // resort to cookies as best you can
  }
  
  $(function(){
    $("#playerTemplate").template("playerTemplate");
    app.init();
    
  /* definsive/offensive panels interface */
    $("#toggle").find("a").click(function(){
      $("#toggle").find("a").removeClass("active");
      $(this).addClass("active");
      var panel = $(this).attr("rel");
      
      if(panel === "offense"){
        app.$actionsW.find(".offense").show();
        app.$actionsW.find(".defense").hide();
      }else{
        app.$actionsW.find(".offense").hide();
        app.$actionsW.find(".defense").show();
      }
      return false;
    })
  
  /* load teams */
    $("#teams").find("a").click(function(){
      $.getJSON(this.href, function(data){
        app.$playersW.empty();
        $.tmpl("playerTemplate", data).appendTo(app.$playersW);
        app.bindHover();
      })
      
      return false;
    });

  /* init */
    $("#toggle").find("a").first().click();
  })
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
