<!DOCTYPE html>
<html>
<head>
  <title>Record Basketball Stats in Real-time</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "style" %>
  <%= render_javascripts %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

  <script>
  if (Modernizr.localstorage){
    //localStorage.clear();
    App.start(123);
  } else {
    console.log("Sorry this app is cool so it requires HTML5 support");
  }

  </script>
</body>
</html>
