<!DOCTYPE html>
<html>
<head>
  <title>Bball</title>
  <%= stylesheet_link_tag "style" %>
  <%= render_javascripts %>
  <%= csrf_meta_tag %>
  <script>
  if (Modernizr.localstorage){
    localStorage.clear();

  } else {
    console.log("boo");
    // resort to cookies as best you can
  }
  
  $(function(){
    $("#playerTemplate").template("playerTemplate");
    app.init();
    
  /* defensive/offensive panels interface */
    $("#toggle").find("a").click(function(){
      $("#toggle").find("a").removeClass("active");
      $(this).addClass("active");
      var panel = $(this).attr("rel");
      
      if(panel === "offense"){
        app.$actionsW.find(".offense").show();
        app.$actionsW.find(".defense").hide();
      }else{
        app.$actionsW.find(".offense").hide();
        app.$actionsW.find(".defense").show();
      }
      return false;
    })
  
  /* load teams */
    $("#teams").find("a").click(function(){
      var side = $(this).attr("rel");
      $.getJSON(this.href, function(data){
        app.loadTeam(side, data);
      })
      return false;
    });

  /* toggle team panels */
    $("#teamage").find(".team_name").click(function(){
      $("#teamage").find("div").removeClass("active");
      $(this).addClass("active");
      var side = $(this).parent().hasClass("home") ? "home" : "away";
      app.showTeam(side);
      return false;
    });
    
  /* init */
    $("#toggle").find("a").first().click();
  })
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
