<!DOCTYPE html> 
<html> 
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Record Basketball Stats in Real-time</title>
  <%= csrf_meta_tag %>
  <!--
  <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" /> 
  -->
  <%= stylesheet_link_tag "jquery.mobile-1.0b1", "game" %>
  <%= render_javascripts %>

  <script id="playerTemplate" type="text/x-jquery-tmpl">
    <a id="${number}" class="player">
      <div class="head"><input type="text" value="${name}" data-role="none" READONLY/></div>
      <span class="number">${number}</span>
    </a>
  </script>
  <script id="rosterTemplate" type="text/x-jquery-tmpl">
    <li class="player">
      <a>
        <input type="text" value="${number}" maxlength="2" />
        <input type="text" value="${name}" />
      </a>
      <a href="#" class="delete" data-icon="delete" data-theme="a"> </a>
    </li>
  </script>
  <script id="teamDropTmpl" type="text/x-jquery-tmpl">
    <li><a href="#">${name}</a></li>
  </script>
  <script id="completedGamesTmpl" type="text/x-jquery-tmpl">
    <li>
      <a href="#/games/${id}">
        <p class="ui-li-aside">${timestamp}</p>
        <h3>${home.name} vs ${away.name} :: 55 - 99</h3>
      </a>
    </li>
  </script>
  
</head>
<body>

  <%= yield %>

  <script>
  if (Modernizr.localstorage){
    $("#playerTemplate").template("playerTemplate");
    $("#teamDropTmpl").template("teamDropTmpl");
    $("#rosterTemplate").template("rosterTemplate");
    $("#completedGamesTmpl").template("completedGamesTmpl");
    
    $(function(){
      /* page rendering callbacks */
      $('div.page').live('pageshow',function(event, ui){
        if(typeof pageCallback[event.target.id] === "function")
          pageCallback[event.target.id]();
      });
      
      $("#menu").find("a.blah").tap(function(e){
        $.mobile.changePage(this.href, {});
        e.preventDefault();
        return false;
      })
      $("#game_button").tap(function(e){
        $.mobile.changePage(Game.exists() ? "#game_page" : "#new_game_page");
        e.preventDefault();
        return false;
      });
      
        
      /* button press states */
      $("a").live("vmousedown", function(e){
        var self = $(this).addClass("pressed");
        setTimeout(function(){self.removeClass("pressed")}, 555);
      })
      
      /* current game interface */
      $("#new_game_pane, #analytics_page").find("button").tap(function(e){
        var klass = $(this).attr("rel");

        switch(klass){
          case "continue" :
            $.mobile.changePage("#game_page");
            break;
          case "complete" :
            Game.sync();
            break;
          case "destroy" :
            Game.destroy();
            $.mobile.changePage("#menu");
            Status.show("Game deleted!");
            break;
          case "create" :
            var home = $("#new_game_home").val();
            var away = $("#new_game_away").val();
            if(home && away){
              if(Game.create(home, away)){
                GameView.show();
                $.mobile.changePage("#game_page");
              }
              else
                Status.show("Teams do not exist")
            }
            else
              Status.show("Please select two teams.")
            break;
        }
        e.preventDefault();
        return false;
      })
      
      
      /* initialize */
      Team.init();
      Game.load();
    })
    
  }
  else{
    console.log("Sorry this app is cool so it requires HTML5 support");
  }
  </script>
</body>
</html>