<!DOCTYPE html>
<html>
<head>
  <title>Record Basketball Stats in Real-time</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "style" %>
  <%= render_javascripts %>

  <script id="playerTemplate" type="text/x-jquery-tmpl">
    <a id="${number}" class="player">
      <div class="head">${name}</div>
      <span class="number">${number}</span>
    </a>
  </script>
  <script id="rosterTemplate" type="text/x-jquery-tmpl">
    <div class="row"><div class="number"><input type="text" value="${number}" maxlength="2" /></div><div class="name"><input type="text" value="${name}" /></div><div class="delete">&#10006;</div></div>
  </script>
  <script id="teamDropTmpl" type="text/x-jquery-tmpl">
    <li><a href="#">${name}</a></li>
  </script>
  
  
</head>
<body>
  <div id="wrapper">
    <%= yield %>
  </div>


  
  <script>
  if (Modernizr.localstorage){
    //localStorage.clear();
    
    $(function(){
      
      // hack this out.
      $("#settings").tap(function(){
        $("#game_wrapper").slideUp("fast", function(){
          $("#account_wrapper").slideDown("fast");
          simpleTabs.showTabByName("teams");
        });
      })

      /* tab UI */
      simpleTabs.init($("#dash_navigation"), $("#tabs_wrapper"));
      $("#title").tap(function(){
        $("#teams_dropdown").show();
        $(this).addClass("active")
      })

      /* current game interface */
      $("#new_game_pane").find("button").tap(function(){
        var klass = $(this).attr("class");
        switch(klass){
          case "continue" :
            $("#account_wrapper").slideUp("fast", function(){
              $("#game_wrapper").slideDown("fast");
            });
            break;
          case "complete" :
            console.log("complete");
            break;
          case "destroy" :
            console.log("destroy");
            Game.destroy();
            simpleTabs.showTabByName("new_game");
            break;
          case "create" :
            console.log("create");

            var home = $("#new_game_home").val();
            var away = $("#new_game_away").val();
            if(home && away){
              if(Game.create(home, away)){
                GameView.show();
              }
              else{
                console.log("Teams do not exist");
              }
            }
            break;
        }
      })
      
      
      /* initialize */
      
      Team.init();
      
      if(Game.load()){

      }
      else{
        $("#settings").tap();
      }
      
    })
  }
  else{
    console.log("Sorry this app is cool so it requires HTML5 support");
  }
  </script>
</body>
</html>