<!DOCTYPE html> 
<html> 
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Record Basketball Stats in Real-time</title>
  <%= csrf_meta_tag %>
  <link rel="stylesheet"  href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" /> 
  <%= stylesheet_link_tag "game" %>

  <style type="text/css">
    #team_roster_wrapper {
    }
    #team_roster_wrapper h1{
      text-align:center;
    }
    #team_roster_wrapper fieldset {
      overflow:hidden;
      display:block;
      margin-bottom:10px;
    }
    
    #team_roster {
      clear:both;
      position:relative;
    }
    #team_roster input{
      padding:3px;
      font-size:22px; 
      font-weight:bold;
      width:50%;
    }

  </style>

  <%= render_javascripts %>

  <script id="playerTemplate" type="text/x-jquery-tmpl">
    <a id="${number}" class="player">
      <div class="head">${name}</div>
      <span class="number">${number}</span>
    </a>
  </script>
  <script id="rosterTemplate" type="text/x-jquery-tmpl">
    <li class="player">
      <a>
        <input type="text" value="${number}" maxlength="2" />
        <input type="text" value="${name}" />
      </a>
      <a href="#" class="delete" data-icon="delete" data-theme="a"> </a>
    </li>
  </script>
  <script id="teamDropTmpl" type="text/x-jquery-tmpl">
    <li><a href="#">${name}</a></li>
  </script>
  <script id="completedGamesTmpl" type="text/x-jquery-tmpl">
    <li>
      <a href="#/games/${id}">
        <p class="ui-li-aside">${timestamp}</p>
        <h3>${home.name} vs ${away.name} :: 55 - 99</h3>
      </a>
    </li>
  </script>
  
</head>
<body>


  <%= yield %>


  <div data-role="page" id="menu" class="page" data-theme="a">
    <a href="#teams" data-role="button">Teams</a>
    <a href="#new_game" data-role="button">New Game</a>
    <a href="#completed_games"data-role="button">Completed Games</a>
  	<a href="#account" data-role="button">Account</a>
	</div>
  
  <script>
  if (Modernizr.localstorage){
    $("#playerTemplate").template("playerTemplate");
    $("#teamDropTmpl").template("teamDropTmpl");
    $("#rosterTemplate").template("rosterTemplate");
    $("#completedGamesTmpl").template("completedGamesTmpl");

    /* page rendering callbacks */
    $('#new_game').live('pageshow',function(event, ui){
      pageCallback.new_game();
    });
    $('#completed_games').live('pageshow',function(event, ui){
      pageCallback.completed_games();
    });
    $('#analytics').live('pageshow',function(event, ui){
      pageCallback.analytics();
    });
    
    $(function(){
      
      $("#menu").find("a").tap(function(e){
        console.log("hello");
        $.mobile.changePage(this.href, {

        });
        e.preventDefault();
        return false;
      })


      /* current game interface */
      $("#new_game_pane").find("button").tap(function(e){
        var klass = $(this).attr("rel");
        console.log(klass);
        switch(klass){
          case "continue" :
            $.mobile.changePage("#game_wrapper");
            break;
          case "complete" :
            Game.sync();
            break;
          case "destroy" :
            Game.destroy();
            $.mobile.changePage("#new_game")
            break;
          case "create" :
            var home = $("#new_game_home").val();
            var away = $("#new_game_away").val();
            if(home && away){
              if(Game.create(home, away)){
                GameView.show();
              }
              else
                Status.show("Teams do not exist")
            }
            else
              Status.show("Please select two teams.")
            break;
        }
        e.preventDefault();
        return false;
      })
      
      
      /* initialize */
      
      Team.init();
      
      if(Game.load()){

      }
      else{

      }
      
    })
    
    
    
    
  }
  else{
    console.log("Sorry this app is cool so it requires HTML5 support");
  }
  </script>
</body>
</html>